@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.footer-container {
  position: relative;
  bottom: 0;
  background-color: #202020;
  width: 100%;
  text-align: left;
  padding: 30px;
  display: flex;
  justify-content: center;
}
.footer-container span {
  color: #e5e9f1;
  font: 25px;
  font-weight: bold;
  padding: 10px;
}

.footer-container .footer-content-3 {
  display: inline-block;
  vertical-align: top;
}
.footer-container .footer-content-3 {
  width: 20%;
  text-align: center;
  margin-left: 25px;
}
.footer-content-3 {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 15px;
}
.footer-container .footer-perfil {
  line-height: 12px;
  color: #829990;
  font-size: 18px;
  font-weight: 200;
}
.footer-container .footer-perfil span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.footer-container .footer-icons img {
  background: rgb(138, 137, 137);
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  margin: 5px 5px 10px 10px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 20px;
  filter: drop-shadow(19px 14px 15px #000);
}
.footer-icons img:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.footer-container .footer-content-3 p {
  color: #929990;
  font-size: 13px;
  padding: 10px;
}
.footer-container .copyright {
  width: 100%;
}
.footer-container .copyright p {
  text-align: center;
  color: #829990;
  padding: 5px;
  font-size: 15px;
}

/* footer */
@media (max-width: 880px) {
  footer {
    position: relative;
  }
  .footer-container {
    padding: 10px;
  }
  .footer-container .footer-content-3 {
    width: 0;
    display: block;
    width: 90%;
    text-align: center;
  }
  .footer-container .footer-content-3 i {
    margin-left: 0;
  }
}
