@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


html,
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;

}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.banner-joker {
    min-height: 18.75rem;
    width: 100%;
    max-width: 1440px;
    background-image: url(../img/banner_joker.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-after {
    min-height: 18.75rem;
    width: 100%;
    max-width: 1440px;
    background-image: url(../img/banner_after.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-capmarvel {
    min-height: 18.75rem;
    width: 100%;
    max-width: 1440px;
    background-image: url(../img/banner_capmarvel.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-dora {
    min-height: 18.75rem;
    width: 100%;
    max-width: 1440px;
    background-image: url(../img/banner_dora.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-1917 {
    min-height: 18.75rem;
    width: 100%;
    max-width: 1440px;
    background-image: url(../img/banner_1917.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-thor {
    min-height: 18.75rem;
    width: 100%;
    max-width: 1440px;
    background-image: url(../img/banner_thor.jpg);
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-filme {
    min-width: 428px;
    display: flex;
    flex: auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.dados_filme strong {
    padding-left: 2rem;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
    padding-left: 2rem;
    padding-top: 1rem;
}


/* ESTRELAS */

.estrelas {
    padding-left: 2rem;
    padding-top: 0.5rem;

}

.estrelas input[type=radio] {
    display: none;

}

.estrelas label i.fa {
    font-size: 1.5rem;

}

.estrelas label i.fa:before {
    content: '\f005';
    color: #FC0;
    cursor: pointer;
}

.estrelas input[type=radio]:checked~label i.fa:before {
    color: #CCC;
    cursor: pointer;
}

/* ESTRELAS */


.sinopse {
    display: flex;
    justify-content: left;
    padding: 2rem;
    line-height: 1.31rem;
    font-size: 1.125rem;

}


.equipe {
    display: flex;
    padding-left: 2rem;
    gap: 4rem;
} 

.equipe .setor .integrantes a {
    text-decoration: none;
}

.equipe .setor .integrantes .hifen {
    color: rgba(0, 133, 255, 0.75);
}

.titulo_setor {
    color: #000;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.integrantes {
    display: flex;
}

.nomes {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(0, 133, 255, 0.75);
}

.nomes .hifen {
    color: rgba(0, 0, 0, 0.75);
}

.trailer_title {
    padding: 2rem 0rem 0rem 2rem;
    font-weight: 400;
    font-size: 2.25rem;

}


.trailer {
    width: 100%;
    max-width: 1440px;
    padding: 1rem 2rem;
}

.video {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}

.video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 0.5rem;
}

@media (min-width:1024px) {

    main-filme .dados_filme {
        max-width: 1440px;
        padding-inline: 4rem;

    }

    .banner {
        height: 25rem;
        background-position-y: -250px;
    }

    .banner-joker {
        height: 25rem;
        background-position-y: -50px;  
    }

    .banner-after {
        height: 25rem;
        background-position-y: -150px;  
    }

    .banner-capmarvel {
        height: 25rem;
        background-position-y: -30px;  
    }

    .banner-dora {
        height: 25rem;
        background-position-y: -30px;  
    }

    .banner-1917 {
        height: 25rem;
        background-position-y: -30px;  
    }

    .banner-thor {
        height: 25rem;
        background-position-y: -30px;  
    }

    h1 {
        font-size: 4rem;
    }

}