@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body,
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  background: #000;
}

main {
  box-sizing: content-box;
  display: flex;
  background-color: #161616;
}

h1 {
  font-size: 1.8em;
  font-weight: 600;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
}

p {
  font-size: 1.1em;
  font-weight: 100;
  text-align: justify;
  text-align: center;
}

.pbaner {
  text-align: justify;
}

.blursection {
  padding: 0.5em;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blursection .card {
  border: 1px;
  margin: 0.5em;
  filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.1));
  width: 330px;
  height: 450px;
}

.blursection .card img {
  width: 100%;
  border-radius: 12px;
  height: 300px;
}

#isaias {
  background-image: url(../img/isaias2.png);
  background-size: cover;
  background-position-x: -8px;
  background-repeat: no-repeat;
  border-radius: 12px;
}

#juliett {
  background-image: url(../img/juliett.png);
  background-size: cover;
  background-position-y: -40px;
  background-repeat: no-repeat;
  border-radius: 12px;

}

#marcelo {
  background-image: url(../img/marcelo.png);
  background-size: cover;
  background-position-y: -127px;
  background-repeat: no-repeat;
  border-radius: 12px;

}



.descricao {
  position: absolute;
  width: 330px;
  height: 200px;
  left: 0px;
  background: #f4f4f4;
  border-radius: 12px;
  bottom: 0;
  filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.1));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.blursection .card h2 {
  color: black;
  margin: 0.5em;
}

.blursection .card p {
  color: grey;
  margin: 0.5em;
}

button {
  width: 250px;
  height: 55px;
  margin-top: 5vw;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  background: #2c292f;
  border-radius: 12px;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background: #33bb69;
  transition: 0.1s;
}

.btn-explorar {
  margin-top: 50px;
}

a {
  text-decoration: none;
}

.descricao button {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: center;
  text-decoration: none;
  align-items: center;
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

/*Outros Tamanhos*/
/* cards */
@media (min-width: 1023px) {
  .blursection {
    display: flex;
    margin-bottom: 4vw;
    margin-top: 4vw;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1080px;
    flex-wrap: nowrap;
  }


}


@media (min-width: 1025px) {
  .blursection {
    display: flex;
    margin-bottom: 4vw;
    margin-top: 4vw;
    flex-wrap: wrap;
    gap: 0.8em;
    max-width: 1000px;
  }


}